@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;600;700&family=Kdam+Thmor+Pro&family=Montserrat:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Domine", serif; */
  /* font-family: "Kdam Thmor Pro", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
}
:root {
  --back: #000000;
  --bg-black: rgba(7, 6, 6, 0.8);
  --white: #ffffff;
  --mist: #90afc5;
  --stone: #336b87;
  --shadow: #2a3132;
  --autumn-foliage: #763626;
}
header {
  height: 80px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  color: var(--shadow);
  /* background: var(--shadow); */
  background: linear-gradient(to top, var(--mist), var(--stone));
  position: fixed;
  width: 100%;
  z-index: 99;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 80px;
}
.navbar {
  display: flex;
}
.navbar i {
  font-size: 36px;
  display: none;
}
#toggle-menu {
  display: none;
}
.navbar-link {
  text-decoration: none;
  color: var(--shadow);

  position: relative;
  font-size: 1em;
  font-weight: 500;

  cursor: pointer;
  line-height: 30px;
}
/* hover link */
.navbar-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 99%;
  height: 2px;
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.3s;
  background-color: var(--shadow);
}
.navbar-link:hover::after {
  transform: scaleX(1);
}
.logo {
  height: 150px;
}
@media (max-width: 700px) {
  header {
    padding: 15px;
  }
  .navbar ul {
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
    left: 0;
    flex-direction: column;
    display: none;
    align-items: center;
    justify-content: center;
  }
  .navbar i {
    display: flex;
  }
  #toggle-menu:checked ~ .navbarlist {
    display: flex;
  }
  .contact-img {
    display: none;
  }
}
.ocultar {
  /* transform: translateY(-100%); */
  background: transparent;
}

/* main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* hero */

#hero {
  /* imagen de fondo */
  background-image: url(/assets/imagenes/Bg-portada\ 2.jpg);
  /* filter: brightness(50%); */
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Domine", serif;
  gap: 10px;
}
.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  font-size: 2rem;
  font-weight: 900;
  color: var(--back);
  /* letter-spacing: 5px; */
  filter: none;
  padding-bottom: 2rem;
}
.hero-btns {
  display: flex;
  gap: 20px;
}
.hero-btns button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  background: var(--shadow);
  color: var(--white);
  font-weight: 900;
  font-size: 20px;
}
.hero-btns button:hover {
  background: transparent;
  border: 1px solid var(--shadow);
  color: var(--shadow);
}
/* <!-- About --> */

#about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 30px;
  gap: 20px;
  font-family: "Kdam Thmor Pro", sans-serif;
  background-image: url(/assets/imagenes/Bg-portada.jpg);
  background-attachment: fixed;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}
#about h3 {
  text-align: center;
  color: var(--white);
  font-size: 1.5rem;
}
.about-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: var(--shadow);
}
.about-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  padding: 5px 20px;
  height: 350px;
  background: linear-gradient(to top, var(--mist), var(--stone));
  width: 250px;
  border-radius: 15px;
  text-align: center;
}
.about-card img {
  height: 200px;
  width: 100%;
  border-radius: 15px;
}
.about-card h4 {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
}
.about-card p {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

/* <!-- products --> */

#products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 20px;
  width: 100%;
  background: var(--shadow);
}
.btn-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn-products span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  font-family: "Kdam Thmor Pro", sans-serif;
  font-size: 1.5rem;
}

.btn-categories {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.btn-categories button {
  padding: 10px;
  background: transparent;
  color: var(--white);
  border: 1px solid var(--white);
  font-weight: 600;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  width: 150px;
}
.btn-categories button:hover {
  background: var(--white);
  color: var(--back);
  border: 1px solid var(--back);
}
.Active-btn-categories {
  background: var(--stone);
}
/*  <!-- products-container --> */
.products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.card-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  background: linear-gradient(to top, var(--mist), var(--white));
  gap: 20px;
  border: 1px solid var(--back);
  border-radius: 16px;

  padding: 10px;
  height: 250px;
}
.card-products img {
  border-radius: 16px;
  height: 100px;
  width: 200px;
  border: 1px solid var(--back);
}
.card-products-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.card-products-marca,
.card-products-color,
.card-products-precio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.card-products-carrito {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--stone);
  padding: 10px;
  width: 100px;
  border-radius: 0.5rem;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to top, var(--mist), var(--white));
}
.card-products-carrito button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  width: 100%;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.card-products-carrito i {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  width: 100%;
}
.card-products-carrito:hover {
  border: 1px solid var(--stone);
  /* background: linear-gradient(to top, var(--mist), var(--white)); */
  background: transparent;
  /* color: var(--white); */
}

/* <!-- contact --> */

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-image: url(/assets/imagenes/pexels-cottonbro-studio-5082579.jpg);
  font-family: "Kdam Thmor Pro", sans-serif;
  width: 100%;
  padding: 30px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  width: 400px;
  height: 400px;
  max-width: 1500px;
  background: var(--bg-black);
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: 0 25px 25px var(--bg-black);
}
.contact-container-inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.contact-container-txt-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 80%;
}
.textarea {
  width: 100%;
}

/*  <!-- footer --> */
#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 10px;
  background: var(--back);
  color: var(--white);
}
.footer-info img {
  height: 50%;
}
